*{margin:0;padding:0}
body{font-family:arial;font-size:16px;line height:22px;color:#666;background:#537493}
.fix{overflow:hidden}
.main{width:960px;margin:0 auto;display:block;background:#fff}
.header{height:146px;width:300px}
.slider{height:250px;width:960px;background:url(images/pic1.jpg) no-repeat}
.slider_text{margin-top: 20px;
margin-left: 500px;
color: #000;
line-height: 30px;}
.slider_text h1{color:#000;font-size: 36px;
line-height: 45px;}
.slider_text h2{}
.slider_text p{}
.maincontent{margin-top:25px}
.sidebar{width:260px;margin-right:30px;background:#D0E6FB;float:left;padding:20px}
.sidebar ul{margin:0;padding:0;list-style:none}
.sidebar ul li{padding:8px;border-bottom:1px solid #ddd;position:relative}
.sidebar ul li a{text-decoration:none;color:#666}
.sidebar ul li a:hover{background:#86B1E7;color:#000}
.content{width:630px;font-size:15px;background:#86B1E7}
.content h2{margin-bottom:15px;font-weight:normal;color:red}
.content p{margin-bottom:15px}
.footer{margin:0;padding:10px;background:#D0E6FB;font-color:#ddd}
