*{margin:0;padding:0}
body{font-size:16px;line height:22px;color:#49033A;background:#D6D5D1}
.fix{overflow:hidden}
.main{width:1170px;margin:0 auto;display:block;background:#C18D9A}
.ab{
    margin:0;
	padding:0;
	background-color:#C18D9A;
}

#head_wrap{
     width:100%;
	 height:100px;
	 border-bottom:10px solid #49033A;
	 padding:10px;
	 background:#7C0361;

}



#hhh{
    margin-left:10px;
	height:100px;
	width:1000px;
	float:140px left;
}
#hhh  h1{
  color:white;
  font-size:40px;
  margin-left:100px;
  float:right;

}
.menu {background:#EDEDED;margin-bottom:0px;overflow:hidden;border-bottom:10px solid #49033A;}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	margin-left:20px;
    background-color: #EDEDED;
}

.menu li {
    float: left;
	margin-left:40px;float:left;border-right:2px solid #49033A;
}

.menu li a, .dropbtn {
    display: inline-block;
    color:#49033A;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}

.menu li a:hover, .dropdown:hover .dropbtn {
    background-color: #C18D9A;
}

.menu li.dropdown {
    display: inline-block;
}

.menu .dropdown-content {
    display: none;
    position: absolute;
    background-color: #EDEDED;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.menu .dropdown-content a {
    color: #49033A;
    padding: 17px 20px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.menu .dropdown-content a:hover {background-color:#C18D9D;}

.menu .dropdown:hover .dropdown-content {
    display: block;
}
.header{height:146px;width:300px}
.slider{height:250px;width:1200px;}
.slider h2{margin-top:110px;color:#49033A;font-size:42px;}
.slider from{size:20px}
.maincontent{margin-top:25px;background:#C18D9A}
.maincontent h2{color:#49033A}
div.maincontainer {
    margin-top:70px;
    width: 100%;
    border: 1px solid gray;
}
nav {
    float: left;
    max-width: 1100px;
    margin-left:30px;
    padding: 1.5em;
}
nav p{
   color:#49033A;
    padding: 2em;
    overflow: hidden;
}
div.ac{
    margin-top:70px;
    width: 100%;
    border: 1px solid gray;
}
article {
   color:#49033A;
    margin-left:10px;
    padding: 3em;
    overflow: hidden;
}
navc {
color:#49033A;
    float: right;
    max-width: 500px;
    margin: 0;
    padding: 1em;
}
.sidebar{width:260px;margin-right:30px;background:#D0E6FB;float:left;padding:20px}
.sidebar ul{margin:0;padding:0;list-style:none}
.sidebar ul li{padding:5px;border-bottom:1px solid #ddd;position:relative}
.sidebar ul li a{text-decoration:none;color:#666}
.sidebar ul li a:hover{color:#000}
.content{width:630px;font-size:15px;background:#86B1E7}
.content h2{margin-bottom:15px;font-weight:normal;color:red}
.content p{margin-bottom:15px}
.footer{margin:0;padding:15px;font-size:15px;background:#49033A;color:white}
